<div class="top-header">
  <div class ="top-header-title">
  <%= link_to "今日のご飯どうする？", root_path  ,class: "nav-link"%>
  </div>
  <% if user_signed_in? %>
    <div class="user_nav">
      <%= link_to "マイページ", "/users/#{current_user.id}" , class: "nav-link"%>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete ,class: "nav-link"%>
      <div class="top-header-username">
        <%=current_user.nickname %>さん
      </div>
    </div>
  <% else %>
    <div class="user_nav">
      <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
      <%= link_to "新規登録", new_user_registration_path, class: "nav-link" %>
    </div>
  <% end %>
</div>