<table border="1" width="500" height="100" class="table">
  <tr>
    <th>食材名</th>
    <th><%= @ingredient.name %></th>
  </tr>
  <tr align="center">
    <td>レシピ一覧へのURL</td>
    <td><%= link_to("こちら", @ingredient.categoryUrl) %></td>
  </tr>
  <tr align="center">
    <td>カテゴリーID</td>
    <td><div id ="categoryId"><%= @ingredient.full_category %></div></td>
  </tr>
</table>

<div id="favorite-btn<%= @ingredient.id %>">
  <%if user_signed_in?%>
    <% if  @ingredient.favorites_by?(current_user)%>
      <%=link_to "お気に入り済", ingredient_favorites_path(@ingredient.id),  method: :delete, class:"btn btn-border" %>
    <%  else %>
      <%=link_to "お気に入り登録", ingredient_favorites_path(@ingredient.id), method: :post, class:"btn btn-border" %>
    <% end %>
  <%else%>
    お気に入り登録機能を使用する場合はログインをしてください。
  <%end%>
</div>

<div>
<h1>おすすめのレシピ４選</h1>
</div>
<ul id="recipe_ranking_list" class="ranking_ul"></ul>